<!-- templates/posts/follow.html -->
{% extends 'base.html' %}

{% block title %} подписка {% endblock %}

{% block content %}
  <h1>подписка</h1>
  {% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    {% include 'posts/includes/article.html' %}
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group }}</a>
    {% endif %}
    {% if not forloop.last %} <hr> {% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}

{% endblock %}